.wrapper {
  main {
    .contents {
      .article {
        h2 {
          padding: 10px;
          background-color: #333;
          color: white;
          font-size: 24px;
          a {
            box-shadow: none;
          }
        }
        h3 {
          a {
            box-shadow: none;
          }
        }
      }
    }
  }
}

@media screen and (min-width: 480px) {
}
@media screen and (min-width: 768px) and (max-width: 1024px) {
}
@media screen and (min-width: 1024px) {
  .wrapper {
    main {
      .contents {
        .article {
          h2 {
            padding: 10px;
            background-color: #333;
            color: white;
            font-size: 24px;
            a {
              box-shadow: none;
            }
          }

          h3 {
            a {
              box-shadow: none;
            }
          }

          ul {
            padding: 0 30px;

            li {
              left: -35px;
            }
          }

          ol {
            padding: 0 30px;

            li {
              left: -35px;
            }
          }
        }
      }
    }
  }
}
