.wrapper {
  main {
    .contents {
      .article {
        font-size: 15px;
        /* 格活 */
        h2 {
          margin: 0;
          padding: 10px;
          background-color: #333;
          color: #eee;
          font-size: 18px;
          a {
            box-shadow: none;
          }
        }
        h3 {
          padding: 10px;
          color: #333;
          font-size: 20px;
          border-left: 3px solid #333;
          a {
            box-shadow: none;
          }
        }
        h4 {
          padding: 10px 0;
          font-size: 15px;
          border-bottom: 2px solid #999;
          a {
            box-shadow: none;
          }
        }

        ul {
          margin: 0;
          padding: 15px;
          background-color: #eee;

          li {
            list-style: none;
            font-weight: bold;
            font-size: 15px;
            a {
              color: rgb(0, 75, 238);
            }

            ul {
              margin-left: 20px;
              padding: 0;
              li {
                list-style: square;
                font-weight: 400;
                font-size: 13px;
              }
            }
          }
        }
      }
    }
  }
}

@media screen and (min-width: 480px) {
}
@media screen and (min-width: 768px) and (max-width: 1024px) {
}
@media screen and (min-width: 1024px) {
  .wrapper {
    main {
      .contents {
        .article {
          /* 格活 */
          h2 {
            margin: 0;
            padding: 10px;
            background-color: #333;
            color: #eee;
            font-size: 18px;
            a {
              box-shadow: none;
            }
          }
          h3 {
            padding: 10px 20px;
            color: #333;
            font-size: 24px;
            border-left: 5px solid #333;
            a {
              box-shadow: none;
            }
          }

          h4 {
            padding: 10px;
            font-size: 20px;
            border-bottom: 2px solid #999;
            a {
              box-shadow: none;
            }
          }

          ul {
            padding: 20px 30px 30px 30px;
            background-color: #eee;

            li {
              list-style: none;
              font-weight: bold;

              ul {
                padding: 0;
                li {
                  list-style: square;
                  font-weight: 400;
                  font-size: 15px;
                }
              }
            }
          }

          ol {
            padding: 0 30px;

            li {
              left: -35px;
            }
          }
        }
      }
    }
  }
}
