.tag-ul {
  display: flex;
  margin: 0;
  list-style: none;

  .tag-li {
    font-size: 11px;
    padding-right: 0.2em;
    font-weight: 300;
    box-shadow: none;

    a {
      box-shadow: none;
      color: #000000d0;
    }
  }

  .tag-space {
    font-size: 11px;
    padding-right: 0.2em;
    font-weight: 300;
  }
}
