.tag-ul {
  display: flex;
  margin: 0;
  list-style: none;

  a {
    box-shadow: none;

    .tag-li {
      font-size: 11px;
      padding-right: 0.2em;
      color: #808085;
      box-shadow: none;
    }
  }
  .tag-space {
    font-size: 11px;
    padding-right: 0.2em;
    color: #808085;
  }
}
