.index-title {
  width: 20%;
  margin-top: 10px;
  margin-left: auto;
  margin-right: auto;
  padding-bottom: 15px;
  border-bottom: 2px solid #555;
  font-size: 18px;
  color: #555;
  text-align: center;
}
.posts-wrap {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;

  .posts-article {
    display: flex;
    flex-direction: column;
    width: 48%;
    height: 200px;

    .posts-header {
      height: 100%;

      .posts-img {
        margin: 0;
        height: 50%;
      }
      .posts-title {
        margin: 10px 0 15px;
        line-height: 0.1em;

        a {
          font-size: 12px;
          font-weight: 600;
          color: #000000;
        }
      }
      .posts-date {
        color: #808085;
        font-size: 11px;
      }
    }
  }
}

@media screen and (min-width: 1024px) {
  .index-title {
    width: 10%;
    font-size: 25px;
  }
  .posts-wrap {
    display: flex;
    justify-content: flex-start;
    flex-wrap: wrap;

    .posts-article {
      display: flex;
      flex-direction: column;
      padding: 2%;
      width: 25%;
      height: 330px;

      .posts-header {
        height: 100%;

        .posts-img {
          margin: 0;
          height: 50%;
        }
        .posts-title {
          margin: 5px 0 10px;
          font-size: 15px;
          line-height: 1.2rem;
        }
      }
    }
  }
}
